body{
  
 

}

.logout{
    display: flex;
    justify-content: end;
}

button{
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #2414b3;
   
  
}
.app{
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.gray{
    background: #E0E0E0;
    
    height: 100vh;
}
.user{
    margin-left: 20px;
}
.nav-links {
    list-style-type: none;
    padding: 0;

    text-align: center;
}

.nav-links li {
    /* display: inline-block; */
    margin-right: 10px;
    /* margin-bottom: 30px; */
    padding: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin-right: 5px;
}

.nav-links i {
    font-size: 20px;
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.rounded-border {
    border: 2px solid #333;
    border-radius: 20px;
    padding: 1rem;
    width: 50%;
    background-color: #E0E0E0;
}
  

#round{
   background-color: blue;
}

.image-container {
    margin-top: 0px;
    /* text-align: center; */
}
#left {
    text-align: left;
    font-size: small;
    color: #fff;
    margin-top: -0px;
    width: 90%;
}
.image-containers{
    margin-top: 10px;
    /* text-align: center; */
    text-align: end;
}

.image-container img {
    /* max-width: 100%;
    max-height: 100%; */
    border-radius: 10px;
    height: 50%;
    width: 40%;
}

.image-containers img {
    /* max-width: 100%;
    max-height: 100%; */
    border-radius: 10px;
    height: 50%;
    width: 40%;
}
.appoint{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.appoint p{
    color: rgb(56, 56, 191);
}
.beta{
    text-align: center;
}
    .menubar {
            display: none;
            flex-direction: column;
            cursor: pointer;
        }

        .bar {
            width: 30px;
            height: 3px;
            background-color: blue;
            margin: 4px 0;
        }
        .menubar {
            display: none; /* Hide by default on larger screens */
            cursor: pointer;
        }
       
@media only screen and (max-width: 678px) {
    .appoint{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .content{
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
  
    .menubar {
        display: flex;
    }
    .rounded-border{
        width: 60%;
    }
    .img{
        display: none;
    }
    nav   ul {
        display: none;
        flex-direction: column;
        position: absolute;
        padding: 20px;
        top: 50px;
        left: 0;
        width: 60%;
        height: 70%;
        /* border-radius: 100px; */
        background-color: #b1afcf;
    }

 nav   ul.show {
        display: flex;
    }

  nav  li {
        margin: 0;
        text-align: left;
        padding: 10px;
    }
    nav li .ment{
        margin-left: 0;
       color: #a42323;
    }
}
@media only screen and (max-width: 400px) {
    .rounded-border{
        width: 80%;
    }
    .content{
        width: 100%;
        grid-template-columns: 1fr;
    }
}