/* land.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #2980b9; */
    overflow: none;
}



        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
          
            padding: 10px;
            color: #ecf0f1;
        }

        nav img {
            width: 50px;
            height: 50px;
            margin-left: 40px;
        }

        .menubar {
            display: none;
            flex-direction: column;
            cursor: pointer;
        }

        .bar {
            width: 30px;
            height: 3px;
            background-color: #ecf0f1;
            margin: 6px 0;
        }

        nav     ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            align-items: center;
        }

        nav     li {
            margin-right: 20px;
        }

        nav   .dropdown-content {
            display: none;
            position: absolute;
            background-color: #2c3e50;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            z-index: 1;
        }

   nav     .dropdown-content a {
            color: #ecf0f1;
            padding: 12px 16px;
            display: block;
            text-decoration: none;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        @media (max-width: 768px) {
            .menubar {
                display: flex;
            }

         nav   ul {
                display: none;
                flex-direction: column;
                position: absolute;
                padding: 20px;
                top: 60px;
                left: 0;
                width: 90%;
                border-radius: 400px;
                background-color: #2c3e50;
            }

         nav   ul.show {
                display: flex;
            }

          nav  li {
                margin: 0;
                text-align: center;
                padding: 10px;
            }
        }
     nav ul li   a {
            text-decoration: none;
            color: #000000; /* Adjust the color as needed */
            padding: 10px;
            transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease;
        }

        nav ul li.active a,
        nav ul li a:hover {
            background-color: #2980b9;
            color: #fff;
            padding: 10px;
            border-radius: 10px;
        }
        
        /* .active a {
            background-color: #2980b9;
            color: #fff; 
            padding: 10px;
            border-radius: 10px;
        } */

.menubar {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 30px;
    background-color:grey;
    margin: 6px 0;
}
.hero{
    width: 95%;
}
.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.text-column {
    padding: 10px;
    text-align: left;
  margin-left: 10%;
 font-size: x-large;
 color: #000080;
}
.text-column h1{
      font-family: 'Poppins', sans-serif;
}

.image-column img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Add border-radius to the image */
}
.doc-btn{
    text-align: center;
}
.doc{
    padding: 10px;
    background-color: blue;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 200;
    font-size: medium;
    
    
}

.help h1{
    text-align: center;
    color: #000080;
}

.help-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    
    padding: 20px;
    border-radius: 15px;
}

.container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px; /* Adjust the margin as needed */
}
.content {
    display: flex;
    align-items: center;
}
.content p{
    color: #000080;
}
.content i{
    color: #000080;
}
.text {
    flex-grow: 1; /* Allow the text to take up all available space */
}

.arrow {
    font-size: 24px;
}

.how-it-works-section {
    display: flex;
    flex-direction: column;
    background-color: #3498db; 
}

.blue-background {
 
    color: #fff; /* White text color */
    text-align: center;
    padding: 20px;
}
.blue-background h1{
    color: #0C0466;
}

.content-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.content-container p{
    color: #2F2E41;
}
.column {
    flex: 1;
    text-align: center;
}
.square-img {
    max-width: 100%;
    height: auto;
 
}

.doctor-section {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.doctor-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
 
}

.doctor-image img {
    max-width: 100%;
    width: 90%;
    max-height: 80%;
    height: auto;
    border-radius: 8px; /* Optional: Add border-radius for rounded images */
}

.doctor-details {
    text-align: left;
}

.doctor-details h2 {
    margin-top: 40px;
    /* padding: 10px; */
    color: #2980b9;
}
.det p{
   /* padding: 0 15PX; */
   color: #000000;
   
}
.doctor-list {
    /* list-style-type: none; */
    padding: 0px 12PX;
    margin-left: 40PX;
}

.doctor-list-item {
    margin-bottom: 10px;
}
.testimonial-head h1{
    color: #000080;
    
}
.test{
    text-align: center;
}


.testimonial-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 40px;
}

.testimonial {
    background-color: #3498db;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.testimonial h4 {
    margin-bottom: 10px;
}

.testimonial p {
    margin-bottom: 20px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial .test-image {
    display: flex;
    align-items: center;
}



.testimonial .rating {
    display: flex;
    justify-content: center;
}

.testimonial .star {
    color: #f1c40f;
    margin: 0 2px;
}


.subscribe-container {
    width: 80%;
    margin: auto;
    background-color: #3498db;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 50px;
}
.subscribe-container .center{
    position: relative;
    left: 20%;
}
.subscribe-container h2{
    margin-left: 10%;
}
.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
}

.subscribe-form input {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.subscribe-form button {
    padding: 10px;
    background-color:#2980b9 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    color: #ecf0f1;
    padding: 20px;
    color: gray;
    margin-top: 30px;
    gap: 5%;
}

footer img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 17px;
}

footer a {
    color: #ecf0f1;
    text-decoration: none;
    color: gray;
}
footer h3{
    color: #2E65BD;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons {
    display: flex;
}

footer .social-icons a {
    margin-right: 10px;
   
    text-decoration: none;
}
footer .bottom-line{
   
    
}
footer .right{
  display: flex;
  margin-top: 20px;
  justify-content: center;
    text-align: center;
    position: relative;
    left: 45%;
}
a{
    text-decoration: none;
}
@media only screen and (max-width: 768px) {
    .menubar {
        display: block;
    }

    ul {
        display: none; /* Hide by default on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #3498db;
        border-radius: 0 0 10px 10px;
    }

    ul.active {
        display: flex;
    }

    li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}